PRIVATE_KEY=
SEPOLIA_RPC_URL=
HSK_RPC_URL=https://testnet.hsk.xyz
ETHERSCAN_API_KEY=

SEPOLIA_USDC_ADDRESS=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
SEPOLIA_RELAYER_ADDRESS=

HSK_TOKEN_ADDRESS=
HSK_RELAYER_ADDRESS=
HSK_OWNER_ADDRESS=
HSK_FEE_BPS=50
